/*адаптивность под разные устройства*/

@media screen and (min-width: 911px) {
    .ant-carousel {
        max-width: 810px;
    }
    div.ant-carousel-arrow-left {
        left: 80%;
        top: -20%;
    }
    div.ant-carousel-arrow-right {
        right: 10%;
        top: -20%;
    }
}

@media screen and (min-width: 641px) and (max-width: 910px) {
    .ant-carousel {
        max-width: 540px;
    }
    div.ant-carousel-arrow-left {
        left: 70%;
        top: -20%;
    }
    div.ant-carousel-arrow-right {
        right: 15%;
        top: -20%;
    }
}

@media screen and (max-width: 640px) {
    .ant-carousel {
        max-width: 270px;
    }
    div.ant-carousel-arrow-left {
        left: 60%;
        top: -20%;
    }
    div.ant-carousel-arrow-right {
        right: 5%;
        top: -20%;
    }
}

.ant-carousel {
    margin: 0 auto auto;
    padding-top: 10px;
    background-color: white;
}

.ant-carousel-element {
    width: 220px;
    height: 250px;
    text-align: left;
    border: 1px solid rgb(231, 228, 228);
    border-radius: 2%;
    padding: 10px;
    margin: 20px;
    padding-bottom: 150px;
}

.ant-carousel-element img {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

.ant-carousel {
    width: auto;
    position: relative;
}

.ant-carousel-hider {
    overflow: hidden;
}

.ant-carousel-list {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

.ant-carousel-element {
    display: block;
    flex: 0 0 auto;
}


/*навигация*/

div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32;
    display: block;
    margin-top: 50px;
}

div.ant-carousel-arrow-left img,
div.ant-carousel-arrow-right img {
    width: 20px;
    height: 20px;
}

div.ant-carousel-arrow-left:hover {
    opacity: 1.0;
}

div.ant-carousel-arrow-right:hover {
    opacity: 1.0;
}

div.ant-carousel-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: 30;
    text-align: center;
}

span.ant-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}


/*описание товара*/

div.item-description p {
    text-size-adjust: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ADADAD;
}

div.item-description h3 {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #444444;
}

div.item-description label {
    color: rgb(0, 162, 255);
}

div.item-description label img {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}


/*стоимость товара*/

div.item-price h2 {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
    margin-right: 15px;
    color: #444444;
}

div.item-price p {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-decoration-line: line-through;
    color: #ADADAD;
    display: inline-block;
}


/*кнопки управления товаром*/

div.item-menu button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #00ADEF;
    color: #fff;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    width: 150px;
    display: inline-block;
}

div.item-menu .add-favorite {
    width: 20px;
    height: 20px;
    display: inline-block;
    opacity: 0.3;
    padding-right: 10px;
    padding-left: 10px;
}

div.item-menu .add-list {
    width: 20px;
    height: 20px;
    display: inline-block;
    opacity: 0.3;
}


/*заголовок страницы*/

#header h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: #444444;
    margin-left: 5%;
    display: inline-block;
    padding-right: 5px;
}

#header img {
    width: 15px;
    height: 15px;
    display: inline-block;
}